<!DOCTYPE html>
<html>
<head>
  <title>Samapp</title>
  <%= stylesheet_link_tag    "application" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
</head>
<body>
<%= render :partial=>'comman/header' %>
<%= yield %>
<div class="modal-footer" style="margin-bottom:20px;">
<%= render :partial=>'comman/footer' %>
</div>
</body>
</html>
